.fulldashboard
{
    display: flex;
    background: var(--page-bg);
}

.dashboardtop
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dashcontainer
{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}